@model Labs.StudentsSubject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentsSubject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Students.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subjects.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subjects.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
